{php include wl_template('common/header');}

  <!-- twitter share-->
  <meta name="title" content="{$config['share']['share_title']}">
  <meta name="twitter:site" content="lecuntao.com">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" class="share_url" content="{$config['share']['share_url']}">
  <meta name="twitter:title" class="share_title" content="{$config['share']['share_title']}">
  <meta name="twitter:description" content="{$config['share']['share_desc']}">
  <meta name="twitter:image" content="{$config['share']['share_image']}"> 
  <!-- FaceBook  share-->
  <!-- google+ share -->
  <meta property="og:url" class="share_url" content="{$config['share']['share_url']}" />
  <meta property="og:type"  content="article" />
  <meta property="og:title" class="share_title"  content="{$config['share']['share_title']}" />
  <meta property="og:description" content="{$config['share']['share_desc']}" />
  <meta property="og:image"  content="{$config['share']['share_image']}" />
  <meta property="fb:app_id" content="2112900268947111" />

<div class="page-group">
    <div class="page page-current" id="page-order-list">
    <div class="content" style="padding-bottom: 60px;">
    	{php include wl_template('common/followed');}
		{if $tuaninfo['groupstatus']==3}
        <div class="H5_con" id="H5_con1">
	    <div class="tips topStateWrap tips_succ tips_succ2" id="originTopWrap">
			<div class="tips_ico"></div>
			<div class="tips_tit">esta em aberto</div>
			<div class="tips_txt">convite mais participante！</div>
		</div>
   		</div>
   		{elseif $tuaninfo['groupstatus']==2}
   		<div class="H5_con" id="H5_con1">
        <div class="tips topStateWrap tips_succ tips_succ2" id="originTopWrap">
            <div class="tips_ico"></div>
            <div class="tips_tit">grupo concluido</div>
            <div class="tips_txt">aguarde seu produto será postado mais rápido possível</div>
        </div>
        </div>
        {else}
        <div class="H5_con" id="H5_con1">
        <div class="tips topStateWrap tips_err tips_succ2" id="originTopWrap">
            <div class="tips_ico"></div>
            <div class="tips_tit">grupo cancelado</div>
            <div class="tips_txt">grupo cancelado，tente novamente！</div>
        </div>
        </div>
        {/if}
        <div class="H5_con">
            <div class="tm {if $tuaninfo['groupstatus']==2}tm_succ{elseif $tuaninfo['groupstatus']==1}tm_err{/if}">
                <div class="td tuanDetailWrap">
                    <div class="td_img">
                        <a href="{php app_url('goods/detail', array('id' => $goods['id'],'tuan_id'=>$tuan_id))}" class="external goItemPage"><img src="{$goods['gimg']}" alt=""></a>
                    </div>
                    <div class="td_info">
                        <p class="td_name">{$goods['gname']}</p>
                        <p class="td_mprice"><span class="tuanTotal">{$tuaninfo['neednum']}</span>pessoa por grupo：<i>R$ </i><b>{if !empty($tuaninfo['price'])}{$tuaninfo['price']}{else}{$goods['gprice']}{/if}</b><i> /peça</i></p>
                        <p class="td_attr" style="display: none;">Caracteristicas：<span></span></p>
                        <p><a class="goItemPage td_lk external" href="{php echo app_url('goods/detail', array('id' => $goods['id'],'tuan_id'=>$tuan_id))}">Ver detalhes</a></p>
                        <p class="td_num"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp">
            <div class="pp_users">
            	{loop $orders $or}
            	<a href="#" class="pp_users_item pp_users_normal"><img src="{$or['avatar']}"></a>
            	{/loop}
            	{loop $num_arr $item}
                <a href="#" class="pp_users_item pp_users_normal"><img src="{TG_URL_ARES}images/avatar.png"></a>
                {/loop}
            	{if $tuaninfo['groupstatus']!=2}
            	<div class="pp_tips" id="flag_0_a">falta<b>{$tuaninfo['lacknum']}</b>pessoa，convite!!</div>
            	{/if}
            </div>
            {if $tuaninfo['groupstatus']==2}<div class="pp_tips">agradecemos todos participantes!</div>{/if}
            
            <div class="pp_state">
            	{if $tuaninfo['groupstatus']==3}
                <div class="pp_time"></div>
                {elseif $tuaninfo['groupstatus']==2}
                <div class="pp_state_txt">grupo concluido，nos enivaremos os produto mais rapido posivel</div>
                {else}
                <div class="pp_state_txt">grupo cancelado，Que pena，tente novamente</div>
                {/if}
            </div>
            <div class="pp_list">
                <div id="showYaoheList">
                	{php $onum=1;}
                	{loop $orders $or}
                    <div class="pp_list_item">
                        <img src="{$or['avatar']}" class="pp_list_avatar">
			    <div class="pp_list_info">
				    <span class="pp_list_name">{if $onum==1}Criador:{/if}<b>{$or['nickname']}</b>{if $onum==1}Que diz{else}Vem praqui de velocidade do  trem bala{/if}</span>
				    <span class="pp_list_time">{php echo date('m-d H:i', $tuaninfo['starttime'])}{if $onum==1}Monte grupo{else}Particiapa grupo{/if}</span>
			    </div>
			    <div class="pp_list_words">{if $onum==1}Bom, barato e acaba  rápido!{else}Participa agora。{/if}</div>     
                    </div>
                    {if $onum==2}
                    {php break;}
                    {/if}
                    {php $onum++;}
                    {/loop}
            	</div>
        	</div>
        	<div class="pp_state">
                <div class="pp_state_txt" onclick="$('.m-detail-record').toggle();" style="background-color: white;">mer mais</div>
            </div>
        <div class="m-detail-record" style="display: none;">
            <div class="w-bar">historico de particapaçao em grupos<span class="w-bar-hint">(de{php echo date('m-d H:i', $tuaninfo['starttime'])}monte grupo)</span></div>
                <div class="m-detail-record-wrap">
	                <div id="pro-view-4">
	                <ul class="m-detail-record-list" data-pro="entry" id="morelist">
	                	{loop $orders $or}
	                	<li id="pro-view-5">
	                		<div class="f-clear">
	                			<div class="avatar"><a href="#"><img width="35" height="35" src="{$or['avatar']}"></a></div>
	                			<div class="text"><p class="f-breakword"><a href="#">{$or['nickname']}   </a>{if !empty($lists['ip'])}<span class="address">( IP:{$lists['ip']}  {$lists['ipaddress']})</span>{/if}</p><p><span class="num">Horário do monte grupo：{php echo date('Y-m-d H:i:s',$or['createtime'])} </p></div>
	                		</div> 
	                	</li>
	                	{/loop}
	                </ul>
	               	</div>
                </div>
            </div>
   		</div>
        
        <section class="stepGuild">
	        <div class="step_tit"><i></i>forma de compra com grupo<span><a href="{php echo app_url('home/rule');}">Ver detalhes &gt;</a></span></div>
	        <div class="step_flow">
	            <div class="step_item step_item_on"><span class="step_num">1</span><span>selecione<br>produto favorecido</span></div>
	            <div class="step_item"><span class="step_num">2</span><span class="steps">pague e monte grupo<br>ou participa grupo de outro participante</span></div>
	            <div class="step_item"><span class="step_num">3</span><span class="steps">convite os amigos<br>para participa</span></div>
	            <div class="step_item"><span class="step_num">4</span><span class="steps">numero de participante concluído<br>compras do grupo com sucesso</span></div>
	        </div>
	    </section>
    </div>
    <div style="width: 100%; position: fixed; bottom: 70px; padding: 10px 0;">
      <div class="xq-loginshare">
          <a href="javascript:fbShare('{$tuan_id}');" class="xq-facebook">facebook</a>
          <a href="javascript:googleShare('{$tuan_id}');" class="xq-google">google</a>
          <a href="javascript:twitterShare('{$tuan_id}');" class="xq-twtter">twtter</a> 
          <a href="javascript:whatsApp('{$tuan_id}');" class="xq-whatsapp">whatsApp</a> 
        </div>
    </div>
    <div class="H5_con fixopt" id="fixopt" style="display: block;">
        <div class="address_new">
            {if !empty($myorder)}
                {if $tuaninfo['groupstatus']==3}
                <span style="display:block;float:left;width: 80%;margin-left: 5px;">
                <button style="fllow:left;width: 100%;" onclick="_system._guide(true)">convite os amigos</button> 
                </span>
                <span style="display:block;float:right;width: 15%;">
                 <button style="width: 90%;"><a href="{php echo app_url('index')}" class="nav-controller external"><i class="fa fa-home" style="color: white;"></i>
                </a></button>
                </span>
                {else}
                <span style="display:block;float:left;width: 80%;margin-left: 5px;">
	            	{if $goods['hasoption']!=1}
	             <a href="{php echo app_url('order/orderconfirm',array('groupnum'=>$tuaninfo['neednum'],'id'=>$goods['id'],'newtuan'=>'newtuan'));}" class="external">
	            <button style="fllow:left;width: 100%;">grupo concluído,clique monte novo grupo</button> 
	           	</a>
	           	{else}
	           	<a href="">
	            <button style="fllow:left;width: 100%;">grupo concluído</button> 
	           	</a>
	           	{/if}
	            </span>
                <span style="display:block;float:right;width: 15%;">
                 <button style="width: 90%;" ><a href="{php echo app_url('index')}" class="nav-controller external"><i class="fa fa-home"></i>Home
                </a></button>
                </span>
                {/if}
            {else}
	            {if $tuaninfo['groupstatus']==3}
	            <span style="display:block;float:left;width: 80%;margin-left: 5px;">
	            	{if $goods['hasoption']==1}
	           			 <a href="{php echo app_url('goods/detail',array('id' => $goods['id'],'tuan_id' => $tuan_id,'groupnum'=>$tuaninfo['neednum']));} ">
	           		{else}
	           			 <a href="{php echo app_url('order/orderconfirm',array('id' => $goods['id'],'tuan_id' => $tuan_id,'groupnum'=>$tuaninfo['neednum']));} " class="external">
	           		{/if}
	           <button style="fllow:left;width: 100%;">eu quero participar</button> 
	            </a>
	            </span>
	            <span style="display:block;float:right;width: 15%;">
	             <button style="width: 90%;"><a href="{php echo app_url('index')}" class="nav-controller external"><i class="fa fa-home"></i>
	            </a></button>
	            </span>
	            {else}
	            
	            <span style="display:block;float:left;width: 80%;margin-left: 5px;">
	            	{if $goods['hasoption']!=1}
	             <a href="{php echo app_url('order/orderconfirm',array('groupnum'=>$tuaninfo['neednum'],'id'=>$goods['id'],'newtuan'=>'newtuan'));}" class="external">
	            <button style="fllow:left;width: 100%;">grupo concluído,clique monte novo grupo</button> 
	           	</a>
	           	{else}
	           	<a href="">
	            <button style="fllow:left;width: 100%;">grupo concluído</button> 
	           	</a>
	           	{/if}
	            </span>
	            <span style="display:block;float:right;width: 15%;">
	             <button style="width: 90%;"><a href="{php echo app_url('home/index')}" class="nav-controller external"><i class="fa fa-home"></i>
	            </a></button>
	            </span>
	            {/if}
            {/if}
        </div>
        </div>
		<div id="cover"></div>
		<div id="guide"><img src="{TG_URL_ARES}images/guide1.png"></div>
 	</div>
</div>
{if $tuaninfo['groupstatus']==3}
<script>
$(document).ready(function(){
    function FreshTime(){
        var str ='{php echo date('Y-m-d H:i:s',$tuaninfo['starttime'])}';
        str = str.replace(/-/g,"/");
        var starttime= new Date(str);//开始时间
        var nowtime = new Date();//当前时间
        var now_time = parseInt(nowtime.getTime());
        var start_time = parseInt(starttime.getTime());
        var lefttime = parseInt({$lasttime}*3600-((nowtime.getTime()-start_time)/1000)); //计算剩余时间\
        var bar_width =  (1-(lefttime/({$lasttime}*3600)))*100+"%"; //计算进度条百分比
        if (lefttime > 0) {
            hh=parseInt((lefttime/3600));
            mm=parseInt((lefttime/60)%60);
            ss=parseInt(lefttime%60);
            $(".pp_time").html('Corra antes que acabe:<span id="ti_time_hour">'+hh+'</span>:<span id="ti_time_min">'+mm+'</span>:<span id="ti_time_sec">'+ss+'</span>');
            $('#progressbar').css("width",bar_width);
        }else{
            
        }
    }
    FreshTime();
    var sh;
    sh=setInterval(FreshTime,1000);
});
</script>
{/if}
<script type="text/javascript">
var _system={
    $:function(id){return document.getElementById(id);},
    _client:function(){
      return {w:document.documentElement.scrollWidth,h:document.documentElement.scrollHeight,bw:document.documentElement.clientWidth,bh:document.documentElement.clientHeight};
    },
    _scroll:function(){
      return {x:document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft,y:document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop};
    },
    _cover:function(show){
      if(show){
        this.$("cover").style.display="block";
        this.$("cover").style.width=(this._client().bw>this._client().w?this._client().bw:this._client().w)+"px";
        this.$("cover").style.height=(this._client().bh>this._client().h?this._client().bh:this._client().h)+"px";
      }else{
         this.$("cover").style.display="none";
      }
    },
    _guide:function(click){
      this._cover(true);
      this.$("guide").style.display="block";
      this.$("guide").style.top=(_system._scroll().y+5)+"px";
      window.onresize=function(){_system._cover(true);_system.$("guide").style.top=(_system._scroll().y+5)+"px";};
      if(click){
        _system.$("cover").onclick=function(){
          _system._cover();
          _system.$("guide").style.display="none";
          _system.$("cover").onclick=null;
          window.onresize=null;
        };
      }
    },
    _zero:function(n){
      return n<0?0:n;
   }
}
//1 facebook 2 pinterest  3  email 4 twitter 5 tumblr
//6 relop 7 reddit 8 stumbleupon 9 google 10 linkedin 11 gettile 复制网址',12 whatsapp
function fbShare(a){
    u=document.getElementsByClassName("share_url")[0].content;
    t=document.getElementsByClassName("share_title")[0].content;
    if(a=="-1"){
      a=$("#sharedContendId").html();
    }
    shareRecord(a,1);
    window.open("https://www.facebook.com/sharer.php?u="+encodeURIComponent(u)+"&t="+encodeURIComponent(t),"sharer","toolbar=0,status=0,width=626,height=436");
}
function googleShare(a){
    u=document.getElementsByClassName("share_url")[0].content;
    t=document.getElementsByClassName("share_title")[0].content;
    if(a=="-1"){
      a=$("#sharedContendId").html();
    }
    shareRecord(a,9);
    window.open("https://plus.google.com/share?url="+encodeURIComponent(u),"sharer","toolbar=0,status=0");
}
function twitterShare(a){
  u=document.getElementsByClassName("share_url")[0].content;
  t=document.getElementsByClassName("share_title")[0].content;
  if(a=="-1"){
    a=$("#sharedContendId").html();
  }
  shareRecord(a,4);
  window.open("https://twitter.com/home?status="+encodeURIComponent(u)+" "+encodeURIComponent(t),"sharer","toolbar=0,status=0,width=626,height=436");
}
function whatsAppShare(contentId){
  u = document.getElementsByClassName("share_url")[0].content;
  t = document.getElementsByClassName("share_title")[0].content;
  if (contentId == "-1") {
    contentId = $("#sharedContendId").html();
  }
  shareRecord(a,12);
  window.location.href="whatsapp://send?text="+ encodeURIComponent(t) + encodeURIComponent("\n\n"+u)+"&via=brpdd.com";
}
function shareRecord(b,a){
  //$.post("/content/share",{content_id:b,share_type:a});
}
</script>
{php include wl_template('common/footer');}
