{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-order-detail">
	    <header class="bar bar-nav">
	    	<a class="button button-link button-nav pull-left back" href="{php echo app_url('order/order/list')}"><span class="icon icon-left"></span>返回</a>
	    	<h1 class="title">detalhes do pedido</h1>
	  	</header>
    	
		<div class="content" style="overflow-x: hidden;">
			<div id="nav" class="nav">
			    <p class="nav-wrap">
			        <span class="j-nav-item j-nav-status nav-item nav-choose">statu do pedido</span>
			        <span class="j-nav-item j-nav-detail nav-item ">detalhes do pedido</span>
			        <label class="j-nav-bottomline nav-bottomline"></label>
			    </p>
			</div>
			<div id="order-status">
			    <div class="timeline">
		            <div class="timeline-item">
		                <img class="timeline-logo" src="http://p1.meituan.net/xianfu/8adf62cf3cb75f1a4b21380be10af9fa2048.png">
		                <div class="timeline-block">
		                    <i class="timline-block-arrow"></i>
		                    <p class="timeline-title">pedido foi enviado<span class="timeline-time">{php echo date('m-d H:i', $order['createtime']);}</span></p>
		                    <p class="timeline-sub">aguardando pagamento do confirmaçao</p>
		                </div>
		            </div>
		            {if $order['ptime']}
		            <div class="timeline-connect timeline-connect-21"></div>
		            <div class="timeline-item">
		                <img class="timeline-logo" src="http://p0.meituan.net/xianfu/794ec85889844239f32764861c56660a2048.png">
		                <div class="timeline-block">
		                    <i class="timline-block-arrow"></i>
		                    <p class="timeline-title">pagamento realizado com sucesso<span class="timeline-time">{php echo date('m-d H:i', $order['ptime']);}</span></p>
		                    <p class="timeline-sub"></p>
		                </div>
		            </div>
		            {/if}
		            {if $order['sendtime']}
		            <div class="timeline-connect timeline-connect-12"></div>
		            <div class="timeline-item">
		                <img class="timeline-logo" src="http://p0.meituan.net/xianfu/a34001a981214d535bd8466da34490502048.png">
		                <div class="timeline-block">
		                    <i class="timline-block-arrow"></i>
		                    <p class="timeline-title">postar<span class="timeline-time">{php echo date('m-d H:i', $order['sendtime']);}</span></p>
		                    <p class="timeline-sub">aguarde o produto foi postado</p>
		                </div>
		            </div>
		            {/if}
		            {if $order['gettime']}
		            <div class="timeline-connect timeline-connect-12"></div>
		            <div class="timeline-item">
		                <span class="icon icon-check timeline-logo" style="background-color: #FFD705;text-align: center;border-radius:11px;color: #7C5609;"></span>
		                <div class="timeline-block">
		                    <i class="timline-block-arrow"></i>
		                    <p class="timeline-title">pedido concluído<span class="timeline-time">{php echo date('m-d H:i', $order['gettime']);}</span></p>
		                    <p class="timeline-sub">Agradecemos a sua compra e a preferência!</p>
		                </div>
		            </div>
		            {/if}
			    </div>
			    
			    <div class="bottombar-placeholder"></div>
			
			    <div class="bottombar-down">
			        <div class="bottombar">
			    		<div class="bottombar-icon"><i class="weui_icon_success"></i></div>
			        	<div class="bottombar-main">
						    <div class="bottombar-buttonwrap bottombar-buttonwrap-3">
						    	{if $order['status'] == 3}
						        <button id="btn-received" class="combtn bottombar-btn-red" oid="{$order['id']}">cofirmar o recebimento </button>
						        <button id="btn-hasten" class="combtn bottombar-btn-dark">detalhe de envio</button>
						        {elseif $order['status'] == 2 && $order['is_hexiao']==1}
						        <button class="combtn bottombar-btn-red open-popup" id="qrcode" data-popup=".popup-qrcode"><i class="fa fa-qrcode"></i>&nbspconfirmar para uso</button>
						        {else}
						        <button class="combtn bottombar-btn-red" style="width: 50%;" onclick="location.href='{php echo app_url('goods/list');}'">ver mais os produtos com desconto do grupo</button>
						        {/if}
								{if $order['is_tuan']==1 && $order['status']!=5}
		                        <button class="combtn bottombar-btn-dark" onclick="location.href='{php echo app_url('order/group', array('tuan_id'=>$order['tuan_id']));}'" style="margin-right: 10px;">ver detalhes</button>
		                        {/if}
						    </div>
			            </div>
			        </div>
			    </div>
			</div>
			
			<div id="order-detail" style="display: none">
			    <div class="orderregion">
			            <label class="status-hotelname-name">$order['orderno']</label>
			    </div>
			    
			    <div class="orderregion orderregion-top">
			        <ul class="orderregion-entries">
			            <li class="orderregion-entry">
			                <span class="name text-overflow-ellipsis-2">{$goods['gname']}</span>
			                <span class="price">R${php echo $order['goodsprice']*$order['gnum']}</span>
			                <span class="num">&nbsp;×{$order['gnum']}</span>
			            </li>
			        </ul>
			    </div>
			
			    <div class="orderregion">
			        <ul class="orderregion-entries">
			            <li class="orderregion-entry order-other-price">
			                <span class="name text-overflow-ellipsis-2">frete</span>
			                <span class="price">R$&nbsp;{$order['freight']}</span>
			            </li>
			            <li class="orderregion-entry order-total-price">
			                <span class="name text-overflow-ellipsis-2">total</span>
			                <span class="price">R$&nbsp;{$order['pay_price']}</span>
			            </li>
			        </ul>
			    </div>

		       	<div class="orderregion">
			        <h1 class="orderregion-title">
			            <i class="icon1-detail status-detail-icon"></i>
			            <label class="status-name">detalhe de entregue</label>
			        </h1>
			        <ul class="orderregion-entries-compact">
			            <li class="orderregion-entry-compact">
			                <span class="label">destinatário：</span>{$order['addname']}&nbsp; {$order['mobile']}
			            </li>
			            <li class="orderregion-entry-compact">
			                <span class="label">endereço：</span>{$order['address']}
			            </li>
			        </ul>
			    </div>

		       	
			    <div class="orderregion">
			        <h1 class="orderregion-title">
			            <i class="icon1-detail status-detail-icon"></i>
			            <label class="status-name">detalhe do pedido</label>
			        </h1>
			        <ul class="orderregion-entries-compact">
			            <li class="orderregion-entry-compact">
			                <span class="label">numero do pedido：</span>{$order['orderno']}
			            </li>
			            <li class="orderregion-entry-compact">
			                <span class="label">data da compra：</span>{php echo date('Y-m-d H:i:s', $order['createtime']);}
			            </li>
					<!--
			            <li class="orderregion-entry-compact">
			                <span class="label">forma de pagamento：</span>
			            </li>-->
			            {if $order['remark']}
			            <li class="orderregion-entry-compact">
			                <span class="label">obs：</span>{$order['remark']}
			            </li>
			            {/if}
			        </ul>
			    </div>

			    <div class="buy-again-placeholder"></div>
			    </div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).on('click','#btn-received',function(){
		var orderno = $(this).attr('oid');
		$.confirm('ja recebeu o produto？',
	        function () {
	          	$.post("{php echo app_url('order/order/receipt')}",{orderno:orderno},function(d){
					if(d.status == 1){
					    $.toast('confirmaçao de recebimento！');
					    setTimeout(function () {
							location.href = "{php echo app_url('order/order/detail')}"+'id='+orderno;
						}, 1000);
					}else{
						$.toast(d.result);
					}
				},"json");
	        }
	    );
	});
	
	$(document).on('click','#btn-hasten',function(){
	    $.showIndicator();
	    setTimeout(function () {
			location.href = "http://m.kuaidi100.com/index_all.html?type={$order['express']}&postid={$order['expresssn']}#input";
		}, 1000);
	});
	
	$(".j-nav-status").bind('click', function() {
		$('.j-nav-status').addClass('nav-choose');
		$('.j-nav-detail').removeClass('nav-choose');
		$('.j-nav-bottomline').removeClass('nav-bottomlineright').addClass('nav-bottomline');
		$('#order-status').show();
		$('#order-detail').hide();
	});
	$(".j-nav-detail").bind('click', function() {
		$('.j-nav-detail').addClass('nav-choose');
		$('.j-nav-status').removeClass('nav-choose');
		$('.j-nav-bottomline').removeClass('nav-bottomline').addClass('nav-bottomlineright');
		$('#order-status').hide();
		$('#order-detail').show();
	});
</script>
{php include wl_template('common/footer');}
