{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-createadd">
    	<header class="bar bar-nav">
			<a class="button button-link button-nav pull-left back" href="{php echo app_url('order/order')}"><span class="icon icon-left"></span>返回</a>
			<h1 class="title">Pagar com boleto bancário</h1>
		</header>
		<div class="content native-scroll">
			<div class="list-block" style="margin:0;">
                <input type="hidden" name="method" value="{$pay_method}">
		      <ul>
		        <!-- Text inputs -->
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">CPF <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_document" name="ebanx_document" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">Data de nascimento <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_birth_date" name="ebanx_birth_date" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  {if $pay_method=='creditcard'}
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">Nome no cartão <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_cc_name" name="ebanx_cc_name" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">Número do cartão <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_cc_number" name="ebanx_cc_number" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">CVV <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_cc_cvv" name="ebanx_cc_cvv" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">Data de validade (mm/aaaa) <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <input style="border: 1px solid #ededed;width: 100%;" type="text" id="ebanx_cc_exp" name="ebanx_cc_exp" value="">
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="item-content">
                          <div class="item-inner" style="display:block;overflow: inherit;">
                              <div class="item-title label" style="width: 100%">Bandeira <span style="color: red;">*</span></div>
                              <div class="item-input" style="padding-top: 10px;">
                                  <select style="border: 1px solid #ededed;width: 100%;" class="form-control" id="ebanx_payment_type_code" name="ebanx_payment_type_code" required="">
                                      <option></option>
                                      <option value="amex">American Express</option>
                                      <option value="aura">Aura</option>
                                      <option value="diners">Diners</option>
                                      <option value="discover">Discover</option>
                                      <option value="elo">Elo</option>
                                      <option value="hipercard">Hipercard</option>
                                      <option value="mastercard">Mastercard</option>
                                      <option value="visa">Visa</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </li>
                  {/if}
		      </ul>
		    </div>
		    <div class="content-block">
		      <div class="row">
		        <div class="col-100"><a href="javascript:;" id="addrsub" class="weui_btn weui_btn_primary ">Finalizar compra</a></div>
		      </div>
		    </div>
            <div class="weui_extra_area">
                <a href="{php echo app_url('goods/list')}">返回首页</a>
                <a href="javascript:">&nbsp;&nbsp; ▏ </a>
                <a href="{php echo app_url('order/order')}">订单列表</a>
            </div>
		</div>
	</div>
</div>
<script>
	$(function() {
		'use strict';
		//编辑地址页
		$(document).on("pageInit", "#page-createadd", function(e, id, page) {
            var orderno = "{$orderno}";
            var pay_method = "{$pay_method}";
			var $content = $(page).find('.content');
			$("#city-picker").cityPicker({
			    toolbarTemplate: '<header class="bar bar-nav">\
			    <button class="button button-link pull-right close-picker">确定</button>\
			    <h1 class="title">选择收货地址</h1>\
			    </header>'
			});
            var has_pos = false;
			$content.on('click','#addrsub',function () {
                if(has_pos){
                    return;
                }
                has_pos = true;
                $.showPreloader();
		    	var ebanx_document = $('#ebanx_document').val();
				var ebanx_birth_date = $('#ebanx_birth_date').val();
				if(!ebanx_document){
				 	$.toast("CPF");
                    $.hidePreloader();
                    has_pos = false;
				 	return false;
				}
				if(!ebanx_birth_date){
				 	$.toast("nascimento");
                    $.hidePreloader();
                    has_pos = false;
				 	return false;
				}
                if(pay_method == 'creditcard'){
                    var ebanx_cc_name = $('#ebanx_cc_name').val();
                    var ebanx_cc_number = $('#ebanx_cc_number').val();
                    var ebanx_cc_cvv = $('#ebanx_cc_cvv').val();
                    var ebanx_cc_exp = $('#ebanx_cc_exp').val();
                    var ebanx_payment_type_code = $('#ebanx_payment_type_code').val();
                    var data = {method:pay_method,ebanx_document:ebanx_document,ebanx_birth_date:ebanx_birth_date,ebanx_cc_name:ebanx_cc_name,ebanx_cc_number:ebanx_cc_number,ebanx_cc_cvv:ebanx_cc_cvv,ebanx_cc_exp:ebanx_cc_exp,ebanx_payment_type_code:ebanx_payment_type_code};
                }else{
                    var data = {method:pay_method,ebanx_document:ebanx_document,ebanx_birth_date:ebanx_birth_date};
                }
				$.post("{php echo app_url('pay/ebanx')}&orderno="+orderno,data,function(d){
					if(d.errno == 0){
						$.alert('已经支付成功', function () {
                            has_pos = false;
                            location.href = d.data.payment.boleto_url;
					    });
					}else{
                        $.hidePreloader();
                        has_pos = false;
						$.toast(d.data.status_message);
					}
				},"json");
		    });
		});
		$.init();
	});
</script>
{php include wl_template('common/footer');}