<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>{$pagetitle}</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="{TG_URL_ARES}css/details.css" rel="stylesheet">
</head><body>
<div id="pagecontent" style="height:100%;">
	<helpfaq>
		<div id="wrapper-main">
			<!--标题开始-->
			<div class="wrapper-head">Política de Privacidade</div>
			<!--主体开始-->
			<div class="help-box wt body-bg01" style="margin-bottom: 55px;">
				<ul class="wt">
					<li>
						<h4>1. Política de cancelamento</h4>
						<p>Permite devoluçao até 7 dias após o recebimento do seu pedido e os produtos não devem ser usados, com embalagens originais.
                            Nao permite devoluçao após 7 dias do recebimento  e somente troca ou assistencia do tecnico dentro do grantia 30 dias.
                            Para solicita o reembolso entra em contato com o Atendimento ao Cliente.</p>
					</li>
					<li>
						<h4>2. Devolução</h4>
						<p>De acordo com a nossa política, aceitamos devoluções com 30 dias para quaisquer itens não utilizados. O item deve estar na mesma condição em que você o recebeu e deve estar na embalagem original. Uma vez que recebemos seu retorno, podemos fornecer uma troca ou reembolso ao seu método de pagamento original.</p>
					</li>
					<li>
						<h4>3. Reembolso</h4>
						<p>Se você deseja devolver o item para um reembolso, você deve pagar o frete e enviar o item de volta. Você deve considerar a compra de seguro e rastreamento. Pois, não oferecemos reembolsos se o item for perdido durante o transporte.

                            Normalmente, processaremos o reembolso o mais rápido possível. Reembolsaremos qualquer valor recebido de pedido usando o mesmo método originalmente para pagar o valor da sua compra.</p>
					</li>
                    <li>
                        <h4>4. Endereço de entrega</h4>
                        <p>Para retornar o seu produto, por favor entrar em contato com a equipe de atendimento para executar os procedimentos do retorno.</p>
                    </li>
				</ul>
			</div>
			<!--主体结束/-->
		</div>
		<!-- 底部菜单栏 -->
		<div class="fixedopt fixedopt_tuan">
			<a onclick="history.go(-1)" class="fixedopt_tuanback">Volta</a>
			<a href="{php echo app_url('goods/list')}" class="fixedopt_tuanbtn" style="border-right: 0px solid rgba(255,255,255,0.5);">
				<div class="fixedopt_tuanbtn_go">volta para menu</div>
			</a>
		</div>
		<!-- 底部菜单栏 -->
	</helpfaq>
</div>
</body>
</html>
