<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>{$pagetitle}</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="{TG_URL_ARES}css/details.css" rel="stylesheet">
</head><body>
<div id="pagecontent" style="height:100%;">
	<helpfaq>
		<div id="wrapper-main">
			<!--标题开始-->
			<div class="wrapper-head">Dúvidas Frequentes</div>
			<!--主体开始-->
			<div class="help-box wt body-bg01" style="margin-bottom: 55px;">
				{if empty($config['tginfo']['content'])}
				<ul class="wt">
					<li>
						<h4>1. O que é comprar junto com grupo？</h4>
						<p>comprar junto com os participantes do grupo te da direito a um melhor desconto。Depois de selecionar o produto e pagar, na hora o grupo vai ser aberto。Dentro de 24 horas, o número de participantes atingindo a quantidade maxima a compra é concluida com sucesso。caso dentro de 72 horas，participantes insuficiente compras vai ser cancelado automatica e devolver pagamento。</p>
					</li>
					<li>
						<h4>2. O que é administrador？</h4>
						<p>é a pessoa a realizar a primeira compra e criar o grupo，tendo seu nome como identidade do grupo；</p>
					</li>
					<li>
						<h4>3. O que é participante？</h4>
						<p>as pessoas que são convidadas a entrar no grupo interessadas em comprar，tendo poder de convidar outras；</p>
					</li>
					<li>
						<h4>4. como que adquiro desconto com grupo concluido？</h4>
						<p>Dentro de 72 horas, o número de participantes atingindo a quantidade maxima é concluido com sucesso，o vendedor vai enviar os produtos；</p>
					</li>
					<li>
						<h4>5. como que adquiro desconto com grupo cancelado？</h4>
						<p>Dentro de 72 horas，com participantes insuficientes as compras vão ser canceladas automaticamente e devolveremos o pagamento；</p>
					</li>
					<li>
						<h4>aviso：</h4>
						<p>A fim de garantir os interesses dos consumidores，Nossa loja tem o direito de tomar as providencias devidas com casos  de irregularidadesde，assaltos， maliciosos ou intimidações semelhantes 。De dispensar o grupo e cancelar o pedido；</p>
					</li>
				</ul>
				{else}
        		{$config['tginfo']['content']}
    			{/if}
			</div>
			<!--主体结束/-->
		</div>
		<!-- 底部菜单栏 -->
		<div class="fixedopt fixedopt_tuan">
			<a onclick="history.go(-1)" class="fixedopt_tuanback">Volta</a>
			<a href="{php echo app_url('goods/list')}" class="fixedopt_tuanbtn" style="border-right: 0px solid rgba(255,255,255,0.5);">
				<div class="fixedopt_tuanbtn_go">Continuar comprando</div>
			</a>
		</div>
		<!-- 底部菜单栏 -->
	</helpfaq>
</div>
</body>
</html>
