{php include wl_template('common/header');}
<style type="text/css">
.weui_icon_success:before {
    font-size: 23px;
    color: #fed943;
}
</style>
<div class="page-group">
    <div class="page page-current" id="page-address">
    	<header class="bar bar-nav">
			<a class="button button-link button-nav pull-left" href="{$bakurl}"><span class="icon icon-left"></span>Volta</a>
			<h1 class="title">Meus endereços</h1>
			<a class="button pull-right" style="color: #EE5509;border-color: #EE5509;" href="{php echo app_url('address/createadd/display');}">Adicione</a>
		</header>
		<div class="content">
			<div class="list-block media-list">
		      <ul>
		      	{loop $address $addres}
		        <li class="item-content" {if $goodsid}onclick="location.href='{php echo app_url('order/orderconfirm',array('addrid' => $addres['id']));}'"{/if}>
		        	{if empty($goodsid)}
		        	<div class="item-media">{if $addres['status'] == 1}<i class="weui_icon_success"></i>{else}<i class="weui_icon_success_circle"></i>{/if}</div>
		        	{/if}
		            <div class="item-inner">
		              <div class="item-title-row">
		                <div class="item-title">{$addres['cname']} - {$addres['tel']}</div>
		                <div class="item-after"><span class="weui_badge">{if $addres['type'] == 2}Residencial{else}Comercial{/if}</span></div>
		              </div>
		              <div class="item-subtitle" style="padding: 0.1rem 0;">{$addres['detailed_address']}</div>
		              <div class="item-subtitle" style="padding: 0.1rem 0;">{$addres['county']}, {$addres['city']}, {$addres['province']}</div>
		              <div class="item-subtitle" style="padding: 0.1rem 0;">{$addres['zipcode']}</div>
		              {if empty($goodsid)}
		              <div class="item-title-row">
		                <div class="item-title addset" id="{$addres['id']}">{if $addres['status'] == 1}endereço cadastrado{else}<a href="{php echo app_url('address/addmanage/select',array('id'=>$addres['id']));}" class="external">Definir endereço padrão</a>{/if}</div>
		                <div class="item-after">
		                	<p class="buttons-row"><a href="{php echo app_url('address/createadd/display',array('id'=>$addres['id']));}" class="button external" style="color: #EE5509;border-color: #EE5509;">Modificar</a><a href="#" class="button adddel" style="color: #EE5509;border-color: #EE5509;" addid='{$addres['id']}'>Excluir</a></p>
		                </div>
		              </div>
		              {/if}
		            </div>
		        </li>
		        {/loop}
		      </ul>
		    </div>
		</div>
	</div>
</div>
<script>
	$(function() {
		'use strict';
		//地址列表
		$(document).on("pageInit", "#page-address", function(e, id, page) {
			var $content = $(page).find('.content');
			$content.on('click','.adddel', function () {
				var id = $(this).attr('addid');
			    $.confirm('Deseja excluir o endereço?',
			        function () {
			          $.post("{php echo app_url('address/createadd/deletes')}",{id:id},function(d){
							if(d.status == 1){
							    $.alert('excluir o endereço com sucesso', function () {
							        location.href = "{php echo app_url('address/addmanage')}";
							    });
							}else{
								$.toast(d.result);
							}
						},"json");
			        }
			    );
			});    
		});
		$.init();
	});
</script>
{php include wl_template('common/footer');}
