{php include wl_template('common/header');}
<!-- adapt brazil -->
<style type="text/css">
	.city-picker .col-city {
    	width: 11rem;
	}
	.city-picker .col-district {
    	width: 0;
	}
</style>
<div class="page-group">
    <div class="page page-current" id="page-createadd">
    	<header class="bar bar-nav">
			<a class="button button-link button-nav pull-left back" href="{php echo app_url('address/addmanage')}"><span class="icon icon-left"></span>返回</a>
			<h1 class="title">Atualizar endereço</h1>
		</header>
		<div class="content native-scroll">
			<div class="list-block">
		      <ul>
		        <!-- Text inputs -->
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Nome *</div>
		              <div class="item-input">
		                <input type="text" placeholder="Nome" id="myname" value="{$addres['cname']}">
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Telefone celular * </div>
		              <div class="item-input">
		                <input type="tel" placeholder="" id="myphone" value="{$addres['tel']}">
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Estado *</div>
		              <div class="item-input">
		              	{if $addres['city']}
		                <input type="text" id='city-picker' value="{$addres['province']}, {$addres['city']}, {$addres['county']}" readonly>
		                {else}
		                <input type="text" id='city-picker' value="" placeholder="Estado" readonly>
		                {/if}
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Cidade *</div>
		              <div class="item-input">
		                <input type="text" placeholder="" id="county" value="{$addres['county']}">
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">CEP / Código Postal *</div>
		              <div class="item-input">
		                <input type="text" placeholder="" id="zipcode" value="{$addres['zipcode']}">
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Endereço *</div>
		              <div class="item-input">
		                <input type="text" placeholder="" id="detailed_address" value="{$addres['detailed_address']}">
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Identifique este endereço para futura referência</div>
		              <div class="item-input">
		                <select id="type">
		                  <option value="2" {if $addres['type']==2}selected="selected"{/if}>Família</option>
		                  <option value="1" {if $addres['type']==1}selected="selected"{/if}>Company</option>
		                </select>
		              </div>
		            </div>
		          </div>
		        </li>
		        <li>
		          <div class="item-content">
		            <div class="item-inner">
		              <div class="item-title label">Se o padrão de</div>
		              <div class="item-input">
		                <label class="label-switch">
		                  <input type="checkbox" id="status" {if $addres['status']==1}checked{/if}>
		                  <div class="checkbox"></div>
		                </label>
		              </div>
		            </div>
		          </div>
		        </li>
		      </ul>
		    </div>
		    <div class="content-block">
		      <div class="row">
		        <!-- <div class="col-50"><a href="{php echo app_url('address/createadd/addwechat');}" class="weui_btn weui_btn_warn external">使用微信地址</a></div> -->
		        <div class="col-100"><a href="javascript:;" id="addrsub" class="weui_btn weui_btn_primary">Salvar</a></div>
		      </div>
		    </div>
		</div>
	</div>
</div>
<script>
	$(function() {
		'use strict';
		//编辑地址页
		$(document).on("pageInit", "#page-createadd", function(e, id, page) {
			var $content = $(page).find('.content');
			$("#city-picker").cityPicker({
			    toolbarTemplate: '<header class="bar bar-nav">\
			    <button class="button button-link pull-right close-picker">confirmar</button>\
			    <h1 class="title">选择收货地址</h1>\
			    </header>'
			});
			$content.on('click','#addrsub',function () {
		    	var myname = $('#myname').val();
				var myphone = $('#myphone').val();
				var citys = $('#city-picker').val();
				var county = $('#county').val();
				var zipcode = $('#zipcode').val();
				var detailed = $('#detailed_address').val();
				var type = $('#type').val();
				var status = $('#status').val();
				if(!myname){
				 	$.toast("Nome É necessário");
				 	return false;
				}
				if(!myphone){
				 	$.toast("Por favor insira a telefone");
				 	return false;
				}
				if(citys.length == 2){
				 	$.toast("请选择您的地区");
				 	return false;
				}
				if(!county){
				 	$.toast("请输入城市");
				 	return false;
				}
				if(!zipcode){
				 	$.toast("请输入邮编");
				 	return false;
				}
				if(!detailed){
				 	$.toast("Endereço É necessário");
				 	return false;
				}
				$.post("{php echo app_url('address/createadd/post',array('id'=>$addres['id']))}",{myname:myname,myphone:myphone,citys:citys,county:county,zipcode:zipcode,detailed:detailed,type:type,status:status},function(d){
					if(d.status == 1){
						$.alert('Atualizar o endereço com sucesso', function () {
					        location.href = "{$bakurl}";
					    });
					}else{
						$.toast(d.result);
					}
				},"json");
		    });
		});
		$.init();
	});
</script>
{php include wl_template('common/footer');}
