{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-goods-detail">
    	<div class="content">
    		<div class="dt_detail">
			    <section class="detail_main">
			        <div class="sliderImage">
			            <div class="images" id="sliderImg" style="visibility: visible;">
			            	<ul>
			            		{loop $advs $adv}
			            		<li><img src="{php echo tomedia($adv['thumb']);}" style='width:100%;'></li>
			            		{/loop}
							</ul>
			            </div>
			            <div class="images_num" id="sliderNum">
			            	{php $slideNum = 1;}
					    	{loop $advs $adv}
					        <span{if $slideNum == 1} class="curr"{/if}></span>
					        {php $slideNum++;}
					    	{/loop}
			            </div>  
			        </div>
			    	<div class="productInfo">
			    		<h2 style="padding-top: 10px;">{$goods['gname']}</h2>
			    		<div class="editor">{$goods['gdesc']}</div>
			    	</div>
			    	<div class="salesVolume" style="display: block;"><span style="float: left;">preço de mercado：R$ {$goods['mprice']}</span>{$goods['salenum']} vendidos</div>
			    	<div class="progressOuter noShow"><span class="suc_tuan">agrupada</span>
			    	<div class="progress"><div class="percent"></div></div><span class="total_tuan">junto com grupo</span></div>
			    	<div class="playTips">pague e participe do grupo e compartilhe com os amigos，devoluçao automáticamente caso participantes insuficiente，segue abaixo a forma de compras do grupo</div>
			    	<script>
					    $(function() {
					        new Swipe($('#sliderImg')[0], {
					            speed:500,
					            auto:3000,
					            callback: function(){
					                var lis = $("#sliderNum").children();
					                lis.removeClass("curr").eq(this.index).addClass("curr");
					            }
					        });
					    });
					</script>
			    </section>
			    <section class="goBuy" data-people="3" data-times="10" data_acttype="0" data_coupon="0" data_dealtype="" style="display: block;">
			        <div class="btns" style="display: none;">
			            <div class="group_btn" id="buyGroup"><span class="price"><em>8.9R$</em>/{$goods['unit']}</span><span class="colline"></span><span class="count">grupo de 3 participante&gt;</span></div>
			           <div class="single_btn" id="buySingle"><span class="price"><em>10.9R$</em>/{$goods['unit']}</span><span class="colline"></span><span class="count">compra individual&gt;</span></div>
			        </div>
			        {if $goods['isshow']==3}
			        <div class="ico_end"></div>
			        {elseif $goods['isshow']==2}
			        <div class="ico_countdown"></div>
			        {/if}
			        <div class="tuan_btn" id="buyNow"><span>participe agora</span><span><i class="rowline"></i><em>8.9R$</em>/{$goods['unit']}</span></div>
			        <div class="goIndexBtn">volte para menu</div>
			        <p class="activityTip"></p>
			    </section>
			    <div class="space" style="display: none;"></div>
			    
			    <!--商家-->
				{if $merchant}
				<a href="{php echo $this->createMobileUrl('merchant',array('id'=>$merchant['id']));}">
	            <div class="mall_goods">
	                <img src="{php echo tomedia($merchant['thumb'])}">
	                <div class="mall_sub">
	                    <span>{$merchant['name']}</span>
	                    <div class="sales">{$goods['salenum']} vendidos</div>
	                </div>
	                <div class="enter_button">
	                    <img src="/addons/feng_fightgroups/app/resource/images/mall_icon_small.png">
	                    <span>acesse á loja</span>
	                </div>
	            </div>
	            </a>
	            {/if}
	            
		       	
		       	<!--分享团-->
		       	{if !empty($thistuan)}
				{if ($share_data['share_type']==1 || $share_data['share_type']=='')}
					<div id="more_tuan" style="margin-top: 10px;">
					<div class="ht">
						<div class="ht_tit">o grupo aberto proximo a sua regiao, participar </div>
						<div class="ht_list">
						{loop $thistuan $tuan}
						<div class="ht_item">
							<div class="ht_avatar"><img src="{$tuan['avatar']}" alt="imagem do criador"></div>
							<div class="ht_info"><div class="ht_name">{$tuan['nickname']}</div><div class="ht_time">horario de criaçao：{php echo date('Y-m-d H:i:s', $tuan['starttime']);}</div></div>
							<a href="{php echo app_url('order/group',array('tuan_id'=>$tuan['groupnumber']));}" class="ht_btn" ptag="20400.7.1"><span class="ht_price"><i>R$</i>{if !empty($tuan['price'])}{$tuan['price']}{else}{$goods['gprice']}{/if} / {$goods['unit']}</span><span class="ht_btn_go">falta{$tuan['lacknum']pessoa conclui o grupo，participar agora 》</span></a>
						</div>
						{/loop}
						</div>
					</div>
					</div>
					{else}
					<div id="more_tuan" style="margin-bottom: 60px;">
						<div class="ht">
							<div style="text-align: center;">
							<a href="{php echo $this->createMobileUrl('goodsdetails',array('share_type'=>'share_type','id'=>$id));}" style="background-color: #FF5252;border-radius: 3px;width: 90%;height: 50px;text-align: center;color: rgb(255, 255, 255);margin-left: 5%;margin-top:5px;float: left;-webkit-border-radius: 3px;">
							<b><font size="5"><div class="ico2" style="margin-top: 10px;;"><i class="fa fa-map-marker"></i> grupos próximos</div></font></b>
							</a>
							</div>
						</div>
					</div>
				{/if}
		        {/if}
		        
			    <section class="stepGuild">
			        <div class="step_tit"><i></i>forma de compra do grupo<span><a href="{php echo app_url('home/rule');}">ver detalhes&gt;</a></span></div>
			        <div class="step_flow">
			            <div class="step_item step_item_on"><span class="step_num">1</span><span>adicionar<br>produto favorecido</span></div>
			            <div class="step_item"><span class="step_num">2</span><span class="steps">pegue e monte grupo<br>ou participe grupo de outro participante</span></div>
			            <div class="step_item"><span class="step_num">3</span><span class="steps">convite os amigos<br>para participa</span></div>
			            <div class="step_item"><span class="step_num">4</span><span class="steps">numero de participante concluído<br>compras do grupo com sucesso</span></div>
			        </div>
			    </section>
			</div>
			
	        <div class="section_body info_detail">
		        <div>
	            <div id="div_nav_fixed">
	                <div id="div_nav" class="div_nav">
	                    <ul class="boxx" style="padding-left: 0px;">
	                    	<li>
	                            <a onclick="exchange(1);" data-idx="1" class="sp on" id="shangpin1">Descrição do vendedor</a>
	                        </li>
	                        <li>
	                            <a onclick="exchange(0);" data-idx="0" class="sp" id="shangpin0">Caracteristicas</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div id="div_sections" class="div_sections">
	                <section class="section_specification">
	                	{loop $params $p}
	                    <dl>
	                        <div>
	                            <dd><label>{$p['title']}</label><label>{$p['value']}</label></dd>
	                        </div>
	                    </dl>
	                    {/loop}
	                </section>
	                <section class="section_detail on" data-role="widget" data-widget="img_prev_view">
	                    <div id="description" class="J_DetailSection tshop-psm tshop-psm-bdetaildes" style="margin:0px;padding:0px;">
	                        <div class="ke-post" style="margin:10px 0px 0px;padding:0px;font-size:14px;font-family:tahoma, arial,sans-serif;">
	                            {$goods['gdetaile']}
	                        </div>
	                    </div>
	                </section>
	            </div>
		        </div>
		    </div>
			<div style="height:65px;"></div>
			<input type="hidden" name="times" id="times" value="{$times}" />
		 	<input type="hidden" name="one_limit" id="one_limit" value="{$goods['one_limit']}" />
		 	<input type="hidden" name="many_limit" id="many_limit" value="{$goods['many_limit']}" />
	 	
			
    	</div>
    	{if $goods['group_level_status']==2}
			{php include wl_template('goods/goods_ladder');}
	    {elseif $goods['hasoption']==1}
	    	{php include wl_template('goods/goods_option');}
	    {else}
	    	{php include wl_template('goods/select_num');}
	    {/if}
		<footer class="footer" style="z-index: 1!important;height: 50px;">
	        <nav>
	            <ul>
	                <li style="width: 20%;"><a href="{php echo app_url('goods/list')}" class="nav-controller external"><i class="fa fa-home"></i>menu</a></li>
	                {if $goods['isshow']==1}
					{if $goods['group_level_status']==2}
						<li class="alone"><a href="{php echo app_url('order/orderconfirm',array('groupnum'=>1));}" class="nav-controller external"><i >￥{$goods['oprice']}</i>compra individual</a></li>
	                	<li class="group"><a onclick='choose()' class="nav-controller"><i >R$ {$goods['gprice']}</i>compra com grupo</a></li>
					{elseif $goods['hasoption']==1}
						<li class="alone"><a onclick='choose(1)' class="nav-controller"><i >R$ {$goods['oprice']}</i>compra individual</a></li>
	                	<li class="group"><a onclick='choose(2)' class="nav-controller"><i >R$ {$goods['gprice']}</i>compra com grupo</a></li>
					{else}
						<li class="alone"><a onclick='bb(1)'  class="nav-controller"><i >R ${$goods['oprice']}</i>compra individual</a></li>
	                	<li class="group"><a onclick='bb(2)'  class="nav-controller"><i >R$ {$goods['gprice']}</i>compra com grupo</a></li>
					{/if}
					{else}
					<li class="group" style="width: 80%;"><a href="{php echo app_url('goods/list')}" style="line-height: 40px;font-size: 16px;" class="nav-controller external">ver mais produto anúnciado do preço de grupo </a></li>
					{/if}
	            </ul>
	        </nav>
	    </footer>
	    <input type="hidden" id="buytype" value="" />
	    <input type="hidden" id="buytype2" value="{$goods['groupnum']}" />
	    <input type="hidden" id="optionid" name="optionid" value=""/>
	</div>
</div>

<script>
	function closechoose(){
		$('.footer').show();
        $('.good_choose_layer').fadeOut(100);
		$('.good_choose').fadeOut(100); 
    }

	function exchange(numb) {
		$('#div_nav .boxx .sp').removeClass('on');
		$('.section_specification').removeClass('on');
		$('.section_detail').removeClass('on');
		$('a#shangpin'+numb).addClass('on');
		if(numb==0) {
			$('.section_specification').addClass('on');
		}else{
			$('.section_detail').addClass('on');
		}
	}
	
	function showStores(obj){
        if($(obj).attr('show')=='1'){
            $(obj).next('div').slideUp(100);
            $(obj).removeAttr('show').find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
        }else{
            $(obj).next('div').slideDown(100);
            $(obj).attr('show','1').find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
        }
    }
</script>
{php include wl_template('common/footer');}
