{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-member">
    	<header class="bar bar-nav">
		    <h1 class="title">resultado do pagamento</h1>
		</header>
		<div class="content" style="background-color: #fff;">
			<div class="payicons">
				<div class="bd spacing">
				    {if empty($errno)}<i class="weui_icon_msg weui_icon_success"></i>{/if}
				    {if $errno==2}<i class="weui_icon_msg weui_icon_warn"></i>{/if}
				</div>
			</div>
			<div class="paysucces_text">
					{if empty($errno)}compra individual com sucesso{/if}
				    {if $errno==2}Desculpe,o limite ultrapassado de participante,seu dinheiro será estornado{/if}
			</div>
			<div class="paysucces_price">R$ {$order['price']}</div>
			<div class="list-block">
		      <ul>
		      	{if !empty($order['discount_fee'])}
		        <li class="item-content">
		          <div class="item-media"><i class="icon icon-f7"></i></div>
		          <div class="item-inner">
		            <div class="item-title payredcolor">Desconto do cupom</div>
		            <div class="payredcolor item-after">{$order['discount_fee']}</div>
		          </div>
		        </li>
		        {/if}
		        {if !empty($order['first_fee'])}
		        <li class="item-content">
		          <div class="item-media"><i class="icon icon-f7"></i></div>
		          <div class="item-inner">
		            <div class="item-title">desconto para administrador</div>
		            <div class="payredcolor item-after">{$order['first_fee']}</div>
		          </div>
		        </li>
		        {/if}
		        {if !empty($order['credits'])}
		        <li class="item-content">
		          <div class="item-media"><i class="icon icon-f7"></i></div>
		          <div class="item-inner">
		            <div class="item-title">Gera pontos</div>
		            <div class="payredcolor item-after">{$order['credits']}</div>
		          </div>
		        </li>
		        {/if}
		      </ul>
		    </div>
		    <div class="content-block">
		      <div class="row">
		        <div class="col-50"><a href="{php echo app_url('goods/list')}" class="weui_btn weui_btn_warn">volta para menu</a></div>
		        {if $tuan_id}
		        <div class="col-50">
		        	<a href="#" class="weui_btn weui_btn_yellow" onclick="_system._share(true, '{$tuan_id}')">convite os amigos</a>
		        </div>
		        {else}
		        <div class="col-50"><a href="{php echo app_url('order/order')}" class="weui_btn weui_btn_primary">lista do pedido</a></div>
		        {/if}
		      </div>
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
var _system={
    $:function(id){
    	return document.getElementById(id);
    },
    _share:function(click, tuan_id){
      var buttons1 = [
        {
          text: 'Compartilhe o Produto',
          bg: 'warning',
          label: true
        },
        {
          text: 'Compartilhar no Facebook',
          onClick: function() {
            facebookShare(tuan_id);
          }
        },
        {
          text: 'Compartilhar no WhatsApp',
          onClick: function() {
            whatsAppShare(tuan_id);
          }
        },
        {
          text: 'Compartilhar no Google',
          onClick: function() {
            googleShare(tuan_id);
          }
        },
        {
          text: 'Compartilhar no Twitter',
          onClick: function() {
            twitterShare(tuan_id);
          }
        }
      ];
      var buttons2 = [
        {
          text: 'Cancelar',
          color: 'gray'
        }
      ];
      var btnGroups = [buttons1, buttons2];
      $.actions(btnGroups);
    },
    _zero:function(n){
      return n<0?0:n;
   }
}
//1 facebook 2 pinterest  3  email 4 twitter 5 tumblr
//6 relop 7 reddit 8 stumbleupon 9 google 10 linkedin 11 gettile 复制网址',12 whatsapp
function facebookShare(a){
    u=document.getElementsByClassName("share_url")[0].content;
    t=document.getElementsByClassName("share_title")[0].content;
    if(a=="-1"){
      a=$("#sharedContendId").html();
    }
    shareRecord(a,1);
    window.open("https://www.facebook.com/sharer.php?u="+encodeURIComponent(u)+"&t="+encodeURIComponent(t),"sharer","toolbar=0,status=0,width=626,height=436");
}
function googleShare(a){
    u=document.getElementsByClassName("share_url")[0].content;
    t=document.getElementsByClassName("share_title")[0].content;
    if(a=="-1"){
      a=$("#sharedContendId").html();
    }
    shareRecord(a,9);
    window.open("https://plus.google.com/share?url="+encodeURIComponent(u),"sharer","toolbar=0,status=0");
}
function twitterShare(a){
  u=document.getElementsByClassName("share_url")[0].content;
  t=document.getElementsByClassName("share_title")[0].content;
  if(a=="-1"){
    a=$("#sharedContendId").html();
  }
  shareRecord(a,4);
  window.open("https://twitter.com/home?status="+encodeURIComponent(u)+" "+encodeURIComponent(t),"sharer","toolbar=0,status=0,width=626,height=436");
}
function whatsAppShare(a){
  u = document.getElementsByClassName("share_url")[0].content;
  t = document.getElementsByClassName("share_title")[0].content;
  if (a == "-1") {
    a = $("#sharedContendId").html();
  }
  shareRecord(a,12);
  window.open("whatsapp://send?text="+ encodeURIComponent(t) + encodeURIComponent("\n\n"+u) +"&via=m.melitotal.com.br");
}
function shareRecord(b,a){
  //$.post("/content/share",{content_id:b,share_type:a});
}
</script>
{php include wl_template('common/footer');}
