{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-coupon-get">
		<div class="content native-scroll app">
			<div class="app-coupon">
				<div class="promote-card">
					<div class="name clearfix">
						<span class="js-name"> {$coupon['name']} </span>
						<!--<a href="" class="promote-share">分享</a>-->
					</div>
					<div class="text-center promote-value">
						￥ <span class="js-value"> {if $coupon['is_random'] == 2} {$coupon['value']} ~ {$coupon['value_to']} {else} {$coupon['value']} {/if} </span>
					</div>
					<div class="text-center promote-limit js-is-at-least">
						{if !empty($coupon['at_least']) && $coupon['at_least'] != 0.00}
						compra a cima de<span class="js-at-least">  {$coupon['at_least']} </span>R$(não incluir valor de frete)
						{else}
							permanente
						{/if}
					</div>
					<div class="text-center promote-time">
						data de vencimento：<span class="js-start-time"> {php echo date('Y-m-d H:i:s', $coupon['start_time']);} </span> - <span class="js-end-time"> {php echo date('Y-m-d H:i:s', $coupon['end_time']);} </span>
					</div>
					<div class="dot"></div>
				</div>
				<div class="promote-desc">
					<div class="promote-desc-title">manual/instruções de uso</div>
					<div class="desc-detail js-description">
						{$coupon['description']} 										
					</div>
				</div>
				<div class="weui_btn_area">
		        	<div class="weui_btn weui_btn_primary" href="javascript:" id="getcoupon">receber cupom</div>
		    	</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		'use strict';
		//编辑地址页
		$(document).on("pageInit", "#page-coupon-get", function(e, id, page) {
			var $content = $(page).find('.content');
			$content.on('click','#getcoupon',function () {				
				$.post("{php echo app_url('member/coupon/post',array('id'=>$id))}",{},function(d){
					if(d.status == 1){
						$.alert('´receber cupom com sucesso', function () {
					        location.href = "{php echo app_url('member/coupon')}";
					    });
					}else{
						$.toast(d.result);
					}
				},"json");
		    });
		});
		$.init();
	});
</script>
{php include wl_template('common/footer');}
