{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-member">
		<div class="content" style="padding-bottom: 55px;">
			<div class="my">
                <div class="my_head">
                    <div class="my_head_pic">
                    	{if $member['avatar']}
                        <img id="uinLogo" class="my_head_img" width="130" height="130" alt="" src="{$member['avatar']}">
                    	{else}
                    	<img id="uinLogo" class="my_head_img" width="130" height="130" alt="" src="{TG_URL_ARES}images/avatar.png">
                    	{/if}
                    </div>
                    <div class="my_head_info">
                    	{if $member['nickname']}
                        <h4 id="nickname" class="my_head_name ">{$member['nickname']}</h4>
                        {else}
                        <h4 id="nickname" class="my_head_name ">nickname</h4>
                        {/if}
                    </div>
                </div>
                <ul class="my_transaction my_transaction3">
                <li>
					<a href="javascript:;">
						<div class="my_transaction_num" id="fav_shop_total_count"><span>{$member['credit2']}</span> real</div>
						<div class="my_transaction_txt"><i class="icon iconfont" style="color: #00AAFF;position: static;display: inline-block;">&#xe6ed;</i> &nbsp;meu saldo</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="my_transaction_num" id="fav_shop_total_count"><span>{$member['credit1']}</span> ponto</div>
						<div class="my_transaction_txt"><i class="icon iconfont" style="color: #FF5D4F;position: static;display: inline-block;">&#xe673;</i> &nbsp;meu ponto</div>
					</a>
				</li>
				<li>
					<a href="{php echo app_url('member/coupon')}">
						<div class="my_transaction_num" id="fav_item_total_count"><span>{$tatal}</span> folha</div>
						<div class="my_transaction_txt"><i class="icon iconfont" style="color: #FFB900;position: static;display: inline-block;">&#xe6e0;</i> &nbsp;meu cupom</div>
					</a>
				</li>
				</ul>
            </div>
			<div class="weui_cells weui_cells_access">
	            <a class="weui_cell external" href="{php echo app_url('order/order/list')}">
	                <div class="weui_cell_hd"><i class="icon iconfont">&#xe791;</i></div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>meu pedido</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
	            <a class="weui_cell external" href="{php echo app_url('order/mygroup/0')}">
	                <div class="weui_cell_hd"><i class="icon iconfont">&#xe753;</i></div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>meu grupo</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
	        </div>
	        <div class="weui_cells weui_cells_access">
	            <a class="weui_cell external" href="{php echo app_url('address/addmanage')}">
	                <div class="weui_cell_hd"><i class="icon iconfont">&#xe651;</i></div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>meu endereço</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
	            <a class="weui_cell external" href="{php echo app_url('member/coupon')}">
	                <div class="weui_cell_hd"><i class="icon iconfont">&#xe677;</i></div>
	                <div class="weui_cell_bd weui_cell_primary">
	                    <p>meu cupom</p>
	                </div>
	                <div class="weui_cell_ft"></div>
	            </a>
	        </div>
		</div>
		{php include wl_template('common/footerbar');}
	</div>
</div>
<script type="text/javascript">
	$(function () {
	  'use strict';
		$(document).on("pageInit", "#page-member", function(e, id, page) {

		});
	  $.init();
	});
</script>
{php include wl_template('common/footer');}
