{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-login">

        <div class="content native-scroll">

            <div class="buttons-tab" style="z-index: 100;">
              <a href="#" class="tab-link button active">Entrar</a>
              <a onclick="pddAppRedirect('member', 'register');" class="tab-link button">Registar</a>
            </div>

            <div class="list-block">
              <ul>
                <!-- Text inputs -->
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">E-mail</div>
                      <div class="item-input">
                        <input type="text" placeholder="Por favor insira o seu endereço de email" id="email" value="">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Palavra-Passe</div>
                      <div class="item-input">
                        <input type="password" placeholder="Por favor insira a sua palavra-pass" id="password" value="">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="content-block">
              <div class="row">
                <div class="col-100"><a href="javascript:;" id="loginBtn" class="weui_btn weui_btn_yellow">Entrar</a></div>
              </div>
            </div>

            <div class="content-block">
              <div class="row">
                <div class="col-100"><a href="https://www.facebook.com/dialog/oauth?scope=email+public_profile&response_type=code&client_id={$facebook_client_id}&state={$facebook_state_code}&display=popup&redirect_uri={$facebook_oauth_callback}" id="fbLoginBtn" class="weui_btn weui_btn_default">Login com Facebook</a></div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
    function pddAppRedirect(ctrl, ac) {
      location.href = "{php echo app_url('"+ctrl+"/"+ac+"')}";
    }
    $(function() {
        'use strict';
        //编辑地址页
        $(document).on("pageInit", "#page-login", function(e, id, page) {
            var $content = $(page).find('.content');
            $content.on('click','#loginBtn',function () {
                var email = $('#email').val();
                var password = $('#password').val();
                var emailRule = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
                if(!email){
                    $.toast("Por favor insira o seu endereço de email");
                    return false;
                } else if(!emailRule.test(email)) {
                    $.toast("Este email que inseriu é inválido. Por favor confira o seu email e tente de novo");
                    return false;
                }
                if(!password){
                    $.toast("Por favor insira a sua palavra-pass");
                    return false;
                }
                $.post("{php echo app_url('member/login/post')}",{email:email,password:password},function(d){
                    if(d.status == 1){
                        $.alert('Login Success！', function(){
                            location.href = "{$bakurl}";
                        });
                    }else{
                        $.toast(d.result);
                    }
                },"json");
            });
        });
        $.init();
    });
</script>
{php include wl_template('common/footer');}