{php include wl_template('common/header');}
<div class="page-group">
    <div class="page page-current" id="page-register">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="{php echo app_url('goods/list')}"><span class="icon icon-left"></span>volta</a>
            <h1 class="title">Autentificação</h1>
        </header>
        <div class="content native-scroll">

            <div class="buttons-tab" style="z-index: 100;">
              <a onclick="pddAppRedirect('member','login');" class="tab-link button">Entrar</a>
              <a href="#" class="tab-link button active">cadastrar</a>
            </div>

            <div class="list-block">
              <ul>
                <!-- Text inputs -->
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">E-mail</div>
                      <div class="item-input">
                        <input type="text" placeholder="insira o seu email" id="email" value="">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Senha</div>
                      <div class="item-input">
                        <input type="password" placeholder="Insira a sua senha" id="password" value="">
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Confirmar a Senha</div>
                      <div class="item-input">
                        <input type="password" placeholder="insira a senha novamente," id="confirm_password" value="">
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="content-block">
              <div class="row">
                <div class="col-100"><a href="javascript:;" id="registerBtn" class="weui_btn weui_btn_yellow">Criar a Minha Conta</a></div>
              </div>
            </div>
            <div class="weui_extra_area">
                <a href="{php echo app_url('goods/list')}">voltar para menu</a>
            </div>
        </div>
    </div>
</div>
<script>
    function pddAppRedirect(ctrl, ac) {
      location.href = "{php echo app_url('"+ctrl+"/"+ac+"')}";
    }
    $(function() {
        'use strict';
        //编辑地址页
        $(document).on("pageInit", "#page-register", function(e, id, page) {
            var $content = $(page).find('.content');
            $content.on('click','#registerBtn',function () {
                var email = $('#email').val();
                var password = $('#password').val();
                var confirm_password = $('#confirm_password').val();
                var emailRule = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
                if(!email){
                    $.toast("insira o seu email");
                    return false;
                } else if(!emailRule.test(email)) {
                    $.toast("email inválido. favor confirmar email e tente novamente");
                    return false;
                }
                if(!password){
                    $.toast("insira a sua senha");
                    return false;
                } else if(password.length < 7) {
                    $.toast("Dica: Sua senha deve ter pelo menos 7 caracteres. Por favor, inclua letras e números.");
                    return false;
                }
                if(!confirm_password){
                    $.toast("favor,confirmar a nova senha");
                    return false;
                }
                if(password != confirm_password){
                    $.toast("A senha invalido, por favor tente novamente");
                    return false;
                }
                $.post("{php echo app_url('member/register/post')}",{email:email,password:password,confirm_password:confirm_password},function(d){
                    if(d.status == 1){
                        $.alert('Criar a minha conta de SUCESSO!', function(){
                            location.href = "{$bakurl}";
                        });
                    }else{
                        $.toast(d.result);
                    }
                },"json");
            });
        });
        $.init();
    });
</script>
{php include wl_template('common/footer');}
