
<!--订单提醒-->
<style>
    .orderlist{position:absolute;top:6%;background:black;z-index:1000;opacity:0.75;color:white;border-radius:13px;height: 25px;overflow: hidden;left: 3%;}
    .orderlist img{ border-radius:50%} 
</style>
<script>
    function funcTest(){
        //每隔5秒执行一次timelyFun方法
        window.setInterval("timelyFun()",10000);
    }
    function timelyFun(){
        $.post("{php echo app_url('order/order/tip')}",function(data){
            $(".orderlist").show();
            //último pedido foi de 购买人 do 城市 em 10 segunda atrás
            $("#shuoming").html("último pedido foi à "+data.nickname+" do "+data.city );
            $("#sec").html(" em " +data.sec+"segundos atrás"+"  ");
            $("#headpic").attr("src",data.avatar);
            setTimeout("$('.orderlist').hide()",8000);
        },'JSON')
    }
    window.onload = funcTest;
</script>           
<div class="orderlist" style="font-size:14px;display:none;"><img id="headpic" src="#" width="25">
    <span id="shuoming" style="margin-left:3%;line-height:25px;font-size:12px;">último pedido foi à Marcos do São Paulo </span>
    <span id="sec" style="font-size:12px;margin-right:12px;display: inline;padding-right: 3%;">em 5 segundos atrás</span>
</div>
