<!-- 
followed.html
 判断是否已经关注该微信公众号，引导关注
Created by Administrator on 2016-02-29.
Copyright 2016 Administrator. All rights reserved.
-->
<style type="text/css">
.subscribe{width: 100%; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 4; overflow: hidden; margin: 0 auto; max-width: 640px; min-width: 320px;height:60px;}
.subscribe .img{width:40px; height:40px; position:absolute; left:10px; top:10px;}
.subscribe .img img{width:40px; height:40px; border-radius:3px;}
.subscribe .text{padding:10px 100px 10px 70px; line-height:20px; color:#fff; font-size:14px;}
.subscribe .text font{color:#FA5343;}
.subscribe .btn{position:absolute; right:10px; top:15px;}
.subscribe .btn .buttonn{background:#FA5343;width:70px;height:30px;line-height:30px;text-align:center; border-radius:5px; color: #fff;border:none;}
</style>
{if $_W['fans']['follow'] !=1 &&  $config['tginfo']['guanzhu']==1}
    <div class="subscribe">
        <div class="img"><img src="{php echo tomedia($config['tginfo']['slogo'])}"></div>
        <div class="text">
            <p>欢迎进入<font>{$config['tginfo']['sname']}</font></p>
            <p>关注公众号,享专属服务</p>
        </div>
        <div class="btn">
            <a class="lizhuanz" href="javascript:$('#m_popUp').show();"><div class="buttonn">立即关注</div></a>
        </div>
    </div>
{/if}

<!--弹出-->
<div id="m_popUp" style="display:none;">
	<div style="float: right;color: #FAFAFA;margin-top: 20px;margin-right: 20px;" onclick="$('#m_popUp').hide()"><font color="#0000FF"> ×关闭</font></div>
    <div class="m_guide" style="height: 300px">
        <div class="m_how" style="margin-top: 0px;margin-left: 15%;">
            <h4 style="margin-top: 30px;text-align: center;">长按关注</h4>
            <h1 style="text-align: center;margin-left: 5%;">关注后,发货消息等将会通知您!</h4>
        </div>
        <div style="margin-left: auto;margin-right: auto;margin-top: 20px;width: 200px;height: 200px;background: #FAFAFA;">
        	<img src="{php echo tomedia($config['tginfo']['followed_image'])}" style="width: 200px;height: 200px;" />
        </div>
    </div>
</div>


<!--订单提醒-->
<style>
    .orderlist{position:absolute;top:6%;background:black;z-index:1000;opacity:0.75;color:white;border-radius:13px;height: 25px;overflow: hidden;left: 3%;}
    .orderlist img{ border-radius:50%} 
</style>
<script>
    function funcTest(){
        //每隔5秒执行一次timelyFun方法
        window.setInterval("timelyFun()",10000);
    }
    function timelyFun(){
        $.post("{php echo app_url('order/order/tip')}",function(data){
            $(".orderlist").show();
            $("#shuoming").html("最新订单来自"+data.city+"的"+data.nickname);
            $("#sec").html(data.sec+"秒前"+"  ");
            $("#headpic").attr("src",data.avatar);
            setTimeout("$('.orderlist').hide()",8000);
        },'JSON')
    }
    window.onload = funcTest;
</script>           
<div class="orderlist" style="font-size:14px;display:none;"><img id="headpic" src="http://m.vipgouyouhui.com/qweiqin/attachment/images/2/2016/03/xVLGPP8Spp1pAlEK1LmECLLV8LzsUu.png" width="25">
    <span id="shuoming" style="margin-left:3%;line-height:25px;font-size:12px;">最新订单来自盐城的哈哈</span>
    <span id="sec" style="font-size:12px;margin-right:12px;display: inline;padding-right: 3%;">5秒前</span>
</div>